version: "3.8"

volumes:
    grafana_data:
    prometheus_data:

services:
    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        volumes:
            - prometheus_data:/etc/prometheus
            - ../config/prometheus.yml:/etc/prometheus/prometheus.yml
        command:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
            - "--web.console.libraries=/etc/prometheus/console_libraries"
            - "--web.console.templates=/etc/prometheus/consoles"
            - "--web.enable-lifecycle"
        restart: unless-stopped
        ports:
            - "9090:9090"

    pushgateway:
        image: prom/pushgateway:latest
        container_name: pushgateway
        restart: unless-stopped
        ports:
            - "9091:9091"

    grafana:
        image: grafana/grafana:latest
        container_name: grafana
        volumes:
            - grafana_data:/var/lib/grafana
            # - ./grafana/datasources:/etc/grafana/datasources
            # - ./grafana/dashboards:/etc/grafana/dashboards
            # - ./grafana/setup.sh:/setup.sh
        environment:
            - GF_SECURITY_ADMIN_USER=${ADMIN_USER:-admin}
            - GF_SECURITY_ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
            - GF_USERS_ALLOW_SIGN_UP=false
        restart: unless-stopped
        ports:
            - "3000:3000"
