volumes:
    grafana_data:
    prometheus_data:

services:
    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        volumes:
            - prometheus_data:/etc/prometheus
            - ./prometheus/config.yml:/etc/prometheus/prometheus.yml:ro
        command:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--query.lookback-delta=1y"
            - "--storage.tsdb.retention.time=1y"
            - "--web.console.libraries=/etc/prometheus/console_libraries"
            - "--web.console.templates=/etc/prometheus/consoles"
            - "--web.enable-lifecycle"
        restart: unless-stopped
        ports:
            - "9090:9090"

    pushgateway:
        image: prom/pushgateway:latest
        container_name: pushgateway
        restart: unless-stopped
        ports:
            - "9091:9091"

    grafana:
        image: grafana/grafana:latest
        container_name: grafana
        volumes:
            - grafana_data:/var/lib/grafana
            - ./grafana/datasource.yml:/etc/grafana/provisioning/datasources/nesquic.yml:rw
            - ./grafana/dashboard.yml:/etc/grafana/provisioning/dashboards/nesquic.yml:rw
            - ./grafana/dashboard/main.json:/var/lib/grafana/dashboards/main.json:rw
        environment:
            - GF_SECURITY_ADMIN_USER=${ADMIN_USER:-admin}
            - GF_SECURITY_ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
            - GF_USERS_ALLOW_SIGN_UP=false
        restart: unless-stopped
        ports:
            - "3000:3000"
